# Some of these we should fix:
# - misc-non-private-member-variables-in-classes
# - misc-no-recursion
# - performance-move-const-arg
# - performance-unnecessary-value-param
# - readability-braces-around-statements
# - readability-implicit-bool-conversion
# - readability-qualified-auto
# - readability-function-cognitive-complexity
# - bugprone-branch-clone,
# - bugprone-exception-escape
# - bugprone-narrowing-conversions,
# - modernize-use-equals-default
# - readability-named-parameter
# - readability-use-anyofallof
# - clang-analyzer-optin.cplusplus.VirtualCall
# - bugprone-reserved-identifier
# - cert-dcl37-c
# - cert-dcl51-cpp
# The others are a bit more subjective and not really worth doing anything about.
Checks: >
  -*,
  bugprone-*,
  -bugprone-branch-clone,
  -bugprone-narrowing-conversions,
  -bugprone-exception-escape,
  -bugprone-reserved-identifier,
  cert-*,
  -cert-err58-cpp,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  clang-analyzer-*,
  -clang-analyzer-optin.cplusplus.VirtualCall,
  concurrency-*,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-unused-parameters,
  -misc-no-recursion,
  modernize-*,
  -modernize-avoid-bind,
  -modernize-avoid-c-arrays,
  -modernize-pass-by-value,
  -modernize-use-auto,
  -modernize-use-emplace,
  -modernize-use-nodiscard,
  -modernize-use-nullptr,
  -modernize-use-trailing-return-type,
  -modernize-use-using,
  -modernize-use-equals-default,
  performance-*,
  -performance-move-const-arg,
  -performance-unnecessary-value-param,
  portability-*,
  readability-*,
  -readability-convert-member-functions-to-static,
  -readability-else-after-return,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-qualified-auto,
  -readability-function-cognitive-complexity,
  -readability-named-parameter,
  -readability-use-anyofallof,

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
