Checks: >
  -*,
  bugprone-*,
  cert-*,
  -cert-err58-cpp,
  clang-analyzer-*,
  concurrency-*,
  misc-*,
  modernize-*,
  -modernize-avoid-bind,
  -modernize-avoid-c-arrays,
  -modernize-use-auto,
  -modernize-use-emplace,
  -modernize-use-nullptr,
  -modernize-use-trailing-return-type,
  -modernize-use-using,
  performance-*,
  portability-*,
  readability-*,
  -readability-else-after-return,
  -readability-magic-numbers,
  -readability-identifier-length,
  -cert-dcl58-cpp,
  -bugprone-easily-swappable-parameters,
  -readability-function-cognitive-complexity,

WarningsAsErrors: '*'
# Include current directory files and exclude ccf imported code
HeaderFilterRegex: '^(?!.*(\/opt_ccf.*\/include\/)).*'
