__pycache__/
*.pyc
bencher.json
ccf-source/
build/
tmp/
out/
venv/
boofuzz-results/
.venv_ccf_sandbox/
workspace/
*.egg-info/
.vscode/settings.json
perf.json
**/*.pem
**/*.pid
.mypy_cache/
**/*.cose
**/*.cbor
