trigger:
  branches:
    include:
    - main
  tags:
    include:
    - '*'

parameters:
  - name: CCF_VERSION
    type: string
    default: 4.0.7

resources:
  containers:
    - container: sgx
      image: mcr.microsoft.com/ccf/app/dev:${{ parameters.CCF_VERSION }}-sgx
      options: --device /dev/sgx_enclave:/dev/sgx_enclave --device /dev/sgx_provision:/dev/sgx_provision -v /dev/sgx:/dev/sgx

    - container: virtual
      image: mcr.microsoft.com/ccf/app/dev:${{ parameters.CCF_VERSION }}-virtual

variables:
  # This is used in functional tests to make certain tests mandatory
  # in CI, but optional during local development. 
  SCITT_CI: 1
  ACR_REGISTRY: scittoss.azurecr.io
  ACR_REGISTRY_RELEASE: confidentialledgeracrprod.azurecr.io

stages:
  - stage: test
    jobs:
      - template: common.yml
        parameters:
          Name: test_sgx_no_prefix_tree
          DisplayName: Test (SGX, no prefix tree)
          Platform: sgx
          Pool: scitt-dc-pool
          Environment:
            ENABLE_PREFIX_TREE: OFF
          FunctionalTestArguments: '--enable-perf'
          PublishPerfResults: true

      - template: common.yml
        parameters:
          Name: test_sgx
          DisplayName: Test (SGX, with prefix tree)
          Platform: sgx
          Pool: scitt-dc-pool
          Environment:
            ENABLE_PREFIX_TREE: ON
          FunctionalTestArguments: '--enable-prefix-tree --enable-faketime'
          InstallPackages: [ faketime ]

      - template: common.yml
        parameters:
          Name: test_virtual
          DisplayName: Test (Virtual, with prefix tree)
          Platform: virtual
          Environment:
            ENABLE_PREFIX_TREE: ON
          FunctionalTestArguments: '--enable-prefix-tree --enable-faketime'
          InstallPackages: [ libcurl4-openssl-dev, faketime ]

      - template: common.yml
        parameters:
          Name: test_sgx_docker
          DisplayName: Test (SGX on Docker, no prefix tree)
          Platform: sgx
          Pool: scitt-dc-pool
          Variant: Docker
          ImageFilename: scitt-sgx.tar
          Environment:
            DOCKER: 1
            DOCKER_IN_DOCKER: 1

      - template: common.yml
        parameters:
          Name: test_virtual_docker
          DisplayName: Test (Virtual on Docker, no prefix tree)
          Platform: virtual
          Variant: Docker
          ImageFilename: scitt-virtual.tar
          Environment:
            DOCKER: 1
            DOCKER_IN_DOCKER: 1

      - template: common.yml
        parameters:
          Name: test_san
          DisplayName: Test (Sanitizers, with prefix tree)
          Platform: virtual
          BuildCCF:
            Version: ${{ parameters.CCF_VERSION }}
            CMakeArgs: -DSAN=ON -DCMAKE_BUILD_TYPE=Debug -DLVI_MITIGATIONS=OFF
          Environment:
            CMAKE_BUILD_TYPE: Debug
            ENABLE_PREFIX_TREE: ON
            # Fast unwinder only gives us partial stack traces in LeakSanitzer
            # Alloc/dealloc mismatch has been disabled in CCF: https://github.com/microsoft/CCF/pull/5157
            ASAN_OPTIONS: fast_unwind_on_malloc=0:alloc_dealloc_mismatch=0

          # faketime does not play well with ASAN so don't enable it here.
          FunctionalTestArguments: '--enable-prefix-tree'
          InstallPackages: [ libcurl4-openssl-dev ]

      - template: common.yml
        parameters:
          Name: clang_tidy
          DisplayName: Clang tidy
          Platform: virtual
          RunTests: false
          Environment:
            CMAKE_BUILD_TYPE: Debug
            ENABLE_PREFIX_TREE: ON
            ENABLE_CLANG_TIDY: ON
          InstallPackages: [ libcurl4-openssl-dev, clang-tidy-10 ]

      - job: format
        displayName: Code Formatting
        container: virtual
        steps:
          - checkout: self
            submodules: true
            clean: true
            lfs: false

          - script: ./scripts/ci-checks.sh
            displayName: "CI checks"

  - ${{ if startsWith(variables['Build.SourceBranch'], 'refs/heads/main/') }}:
    - stage: main_release
      jobs:
      - job: docker_push_main
        displayName: Publish to ACR (main)

        steps:
          - task: DownloadPipelineArtifact@2
            displayName: Download SGX Docker image artifact
            inputs:
              buildType: current
              artifactName: docker-image-test_sgx_docker
              path: $(Pipeline.Workspace)

          - script: |
              echo "##vso[task.setvariable variable=git_tag]${BUILD_SOURCEBRANCH#refs/tags/}"
            displayName: Get image tag from git tag
          
          - script: |
              docker load --input $(Pipeline.Workspace)/scitt-sgx.tar
              docker tag scitt-sgx $(ACR_REGISTRY)/scitt-sgx:$(git_tag)
            displayName: Load Docker image

          - task: Docker@2
            displayName: Login to ACR
            inputs:
              command: login
              containerRegistry: scittoss-acr-conn

          - script: |
              docker push $(ACR_REGISTRY)/scitt-sgx:$(git_tag)
            displayName: Publish to ACR

  - ${{ if startsWith(variables['Build.SourceBranch'], 'refs/tags/') }}:
    - stage: release
      jobs:
      - job: docker_push
        displayName: Publish to ACR (Release)

        steps:
          - task: DownloadPipelineArtifact@2
            displayName: Download SGX Docker image artifact
            inputs:
              buildType: current
              artifactName: docker-image-test_sgx_docker
              path: $(Pipeline.Workspace)

          - script: |
              echo "##vso[task.setvariable variable=git_tag]${BUILD_SOURCEBRANCH#refs/tags/}"
            displayName: Get image tag from git tag
          
          - script: |
              docker load --input $(Pipeline.Workspace)/scitt-sgx.tar
              docker tag scitt-sgx $(ACR_REGISTRY_RELEASE)/scitt-sgx:$(git_tag)
            displayName: Load Docker image

          - task: Docker@2
            displayName: Login to ACR
            inputs:
              command: login
              containerRegistry: scittoss-acr-conn-release

          - script: |
              docker push $(ACR_REGISTRY_RELEASE)/scitt-sgx:$(git_tag)
            displayName: Publish to ACR