name: "Build/test (virtual)"
on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-test:
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash
    container:
      image: ghcr.io/microsoft/ccf/app/dev/virtual:ccf-5.0.0
      env:
        # Helps to distinguish between CI and local builds.
        SCITT_CI: 1
        # Additional CMake flags.
        PLATFORM: virtual
        CMAKE_BUILD_TYPE: Debug
        ENABLE_PREFIX_TREE: OFF
        ENABLE_CLANG_TIDY: ON
        # These make CI print all the errors, rather than stopping early.
        CXXFLAGS: -ferror-limit=0
        NINJA_FLAGS: -k 0
    steps:
      - name: Checkout repository with tags
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      # Work-around for https://github.com/actions/runner/issues/2033
      - name: Work around git safe.directory in container
        run: chown -R $(id -u):$(id -g) $PWD
      - run: apt-get update && apt-get install -y libcurl4-openssl-dev faketime clang-tidy-10
      - run: ./scripts/ci-checks.sh
      - run: ./build.sh
      - run: ./run_unit_tests.sh
      - run: ./run_functional_tests.sh --enable-faketime

      - name: Upload logs
        uses: actions/upload-artifact@v4
        with:
          name: pytest
          path: |
            pytest
