name: "Build and test"
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  checks:
    name: Format and License Checks
    runs-on: [self-hosted, 1ES.Pool=gha-scitt-pool]
    container: mcr.microsoft.com/azurelinux/base/core:3.0
    steps:
      - run: |
          gpg --import /etc/pki/rpm-gpg/MICROSOFT-RPM-GPG-KEY
          tdnf update -y
          tdnf install -y build-essential ca-certificates git
      - name: Checkout repository
        uses: actions/checkout@v4
      - run: ./scripts/setup-env.sh
      - run: ./scripts/ci-checks.sh
  build-test:
    name: CI
    needs: checks
    strategy:
      matrix:
        platform:
          - name: virtual
            image: virtual
            nodes: [self-hosted, 1ES.Pool=gha-scitt-pool]
            options: --user root --publish-all --cap-add NET_ADMIN --cap-add NET_RAW --cap-add SYS_PTRACE -v /lib/modules:/lib/modules:ro
          - name: snp
            image: snp
            nodes: [self-hosted, 1ES.Pool=gha-scitt-pool]
            options: --user root --publish-all --cap-add NET_ADMIN --cap-add NET_RAW --cap-add SYS_PTRACE -v /lib/modules:/lib/modules:ro
    runs-on: ${{ matrix.platform.nodes }}
    container:
      image: mcr.microsoft.com/azurelinux/base/core:3.0
      options: ${{ matrix.platform.options }}
      env:
        # Helps to distinguish between CI and local builds.
        SCITT_CI: 1
        # Additional CMake flags.
        PLATFORM: ${{ matrix.platform.name }}
        ENABLE_CLANG_TIDY: ON
    steps:
      - name: Setup environment
        run: |
          gpg --import /etc/pki/rpm-gpg/MICROSOFT-RPM-GPG-KEY
          tdnf update -y
          tdnf install -y build-essential ca-certificates git
      - name: Checkout repository with tags
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Work-around for https://github.com/actions/runner/issues/2033
      - name: Work around git safe.directory in container
        run: chown -R $(id -u):$(id -g) $PWD

      - run: ./scripts/setup-env.sh
      - run: ./build.sh
      - run: ./run_functional_tests.sh
        if: "${{ matrix.platform.name != 'snp' }}" # Functional tests are not supported on SNP platform for the moment
      - name: "Upload logs for ${{ matrix.platform.name }}"
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: logs-${{ matrix.platform.name }}
          path: |
            /tmp/pytest-of-root/*current/*current/*.{out,err}
            /tmp/pytest-of-root/*current/*current/config.json
          if-no-files-found: warn
