name: "Publish pyscitt package to PyPi"

on:
  release:
    types: [published]

jobs:
  build_and_publish:
    name: "Publish pyscitt package to PyPi"
    runs-on: ubuntu-latest

    if: startsWith(github.ref, 'refs/tags/')  # only publish to PyPI on tag pushes

    environment:
      name: pypi
      url: https://pypi.org/p/pyscitt

    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'

      - name: Build package
        run: |
          python3 -m pip install build
          cd pyscitt
          python3 -m build
      
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: pyscitt/dist
          skip-existing: true
